@page "/"
@using Danplanner.Application.Dtos 
@inject AdminService AdminService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (admins == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var admin in admins)
        {
            <li>Admin ID: @admin.AdminId</li>
        }
    </ul>
}
@code {
    private List<AdminDto> admins;
    protected override async Task OnInitializedAsync()
    {
        admins = await AdminService.GetAllAdminsAsync();
    }
}